<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Painel Escolar</title>
    <link rel="stylesheet" th:href="@{/index.css}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- Menu lateral -->
<div class="sidebar">
    <a href="/"><i class="fa fa-home"></i><span>Início</span></a>
    <a href="/cadastrar"><i class="fa fa-user-plus"></i><span>Cadastrar Aluno</span></a>
    <a href="/listarAluno"><i class="fa fa-list"></i><span>Listar Alunos</span></a>
    <a href="/editarAlunos"><i class="fa fa-edit"></i><span>Editar Aluno</span></a>
    <a href="/excluirAluno"><i class="fa fa-trash"></i><span>Excluir Aluno</span></a>
</div>

<div class="container">
    <h2>Bem-vindo ao Painel Escolar</h2>
    <p>Escolha uma ação abaixo:</p>

    <div class="button-panel">
        <a href="/cadastrar" class="btn-action"><i class="fa fa-user-plus"></i> Cadastrar Aluno</a>
        <a href="/listarAluno" class="btn-action"><i class="fa fa-list"></i> Listar Alunos</a>
        <a href="/editarAlunos" class="btn-action"><i class="fa fa-edit"></i> Editar Aluno</a>
        <a href="/excluirAluno" class="btn-action"><i class="fa fa-trash"></i> Excluir Aluno</a>
    </div>
</div>
</body>
</html>
